.menu-img {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  position: fixed;
}
@media only screen and (max-width: 1041px) and (min-width: 768px) {
  .cusFlex {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 868px) and (min-width: 8px) {
  .cusFlex {
    /* font-size: 10px; */
    display: none;
    gap: 3px;
  }
}
